---
import Layout from '@layouts/Layout.astro';
const nextYear: number = new Date().getFullYear() + 1;
---

<Layout title={`Feliz año ${nextYear}`} description="Contador regresivo para el Año Nuevo">
  <h1 class=" text-xs">Tiempo restante para el Año {nextYear}!</h1>
</Layout>