---
import Layout from '@layouts/Layout.astro';
const nextYear: number = new Date().getFullYear() + 1;
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
---

<Layout title={`¿Cuánto falta para Año Nuevo? | Feliz Año Nuevo`} description="¿Cuánto falta para el Año Nuevo? Descubre cuántos días, horas, minutos y segundos quedan para celebrar el Año Nuevo.">
  <main class="min-h-screen flex flex-col justify-between">
    <Hero />
    <Footer />
  </main>
</Layout>