---

---


<form action="" class="flex order-1 md:order-2 flex-col md:flex-row gap-2">
    <input type="email" placeholder="Felicitar el año nuevo" class="px-4 py-2 rounded-md bg-bg border border-gold text-text focus:outline-none focus:ring-2 focus:ring-gold transition-all duration-300" required/>
    <input type="submit" value="Felicitar" class=" px-4 py-2 rounded-md bg-gold text-bg font-bold hover:bg-gold-alt cursor-pointer transition-all duration-300 hover:scale-105 active:scale-95" />
</form>

<script>
  import { throwConfetti } from "@utils/canvas";
  const form = document.querySelector('form') as HTMLFormElement;
  const submitButton = form.querySelector('input[type="submit"]') as HTMLInputElement;

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    
    // Solo ejecuta si el formulario es válido
    if (form.checkValidity()) {
      throwConfetti();
      submitButton.value = "¡Activado!";
      submitButton.disabled = true;
      submitButton.style.opacity = "0.5";
      submitButton.style.cursor = "not-allowed";
      form.reset();
    }
  });

</script>