---
import { actions } from "astro:actions"
---


<form action={actions.subscribe} method="POST" id="subscribe-form" class="flex order-1 md:order-2 flex-col md:flex-row gap-2">
    <input type="email" placeholder="Felicitar el año nuevo" class="px-4 py-2 rounded-md bg-bg border border-gold text-text focus:outline-none focus:ring-2 focus:ring-gold transition-all duration-300" name="email" required/>
    <input type="submit" value="Felicitar" class=" px-4 py-2 rounded-md bg-gold text-bg font-bold hover:bg-gold-alt cursor-pointer transition-all duration-300 hover:scale-105 active:scale-95" />
</form>

<script>
    import { actions } from "astro:actions";
    import { throwConfetti } from "@utils/canvas";

    const form = document.getElementById('subscribe-form') as HTMLFormElement;
    const submitButton = form.querySelector('input[type="submit"]') as HTMLInputElement;
    const emailInput = form.querySelector('input[type="email"]') as HTMLInputElement;

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const email = formData.get('email') as string;
        const { data, error } = await actions.subscribe({ email });

        if (error) {
            emailInput.style.borderColor = "red";
            return;
        }

        if (data) {
            throwConfetti();
            submitButton.value = "¡Activado!";
            submitButton.disabled = true;
            submitButton.style.opacity = "0.5";
            submitButton.style.cursor = "not-allowed";
            form.reset();
        }
    });

</script>