---
import CountryCard from "@components/CountryCard.astro"
import countries from "@/data/countries.json";

const countriesData = countries.countries;

---

<section class="grid grid-cols-1 md:grid-cols-2 max-w-[80%] md:max-w-[60%] mx-auto mt-16 gap-4 mb-16">
    {
    countriesData.map(country => (
            <CountryCard 
                name={country.name} 
                flag={country.flag} 
                daysLeft={56} 
                hoursLeft={6} 
                minutesLeft={15} 
                secondsLeft={60} 
            />
        ))
    }
</section>

