---
import CountryCard from "@components/CountryCard.astro"
import countries from "@/data/countries.json";

const countriesData = countries.countries;

---

<section class="opacity-0 flex flex-col max-w-[80%] md:max-w-[60%] mx-auto my-32 gap-4">
    <h2 class="text-center font-primary uppercase text-text text-4xl">Otros paises</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
        countriesData.map(country => (
                <CountryCard 
                    name={country.name} 
                    flag={country.flag} 
                    timezone={country.timezone}
                    utcOffset={country.utcOffset}
                />
        ))
        }
    </div>
</section>

<style>
    section {
        animation: fade-in-up 0.5s ease forwards;
        animation-delay: 0.4s;
    }
</style>