<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Feliz Año Nuevo</title>

		<!-- Fonts -->
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	/* @font-face {
		font-family: 'Orbitron';

		font-weight: 400;
		font-style: normal; 
		font-display: block;
	} */

	:root {
		color-scheme: light dark;
		
		/*Colors*/
		--bg: #0a0a0a;
		--text: #ffffff;
		--gold: #FFD700;
		--gold-alt: #FFA500;

		/*Fonts*/
		--primary-font: 'Orbitron', sans-serif;
		--secondary-font: 'Space Grotesk', sans-serif;

		/* font-synthesis: none;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale; */
	}

	* { margin: 0; padding: 0; }
	*, *::before, *::after { box-sizing: border-box; }
	html { font-size: 16px; scroll-behavior: smooth; scrollbar-width: thin; scrollbar-color: var(--gold) var(--bg);}
	body {
		font-family: var(--secondary-font);
		min-height: 100vh;
		max-width: 1920px;
		margin: 0 auto;
		background-color: var(--bg);
		color: var(--text);
	}

	input, button, textarea, select { font: inherit; }
	p { text-wrap: pretty; overflow-wrap: break-word; }
	h1, h2, h3, h4, h5, h6 { text-wrap: balance; overflow-wrap: break-word;}
	h1{ font-family: var(--primary-font); font-size: 3.2rem; }
	img, video, svg { max-width: 100%; height: auto; }
	a { text-decoration: none; color: inherit; }
	ul, ol { list-style: none; }
	*::selection {
        background-color: var(--gold);
        color: var(--bg);
    }

	@media (prefers-color-scheme: light) {
		:root {
			/*Colors*/
			--bg: #ffffff;
			--text: #0a0a0a;
			--gold: #DAA520;
			--gold-alt: #FF8C00;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		* { 
			animation-duration: 0.01ms !important; 
			animation-iteration-count: 1 !important; 
			transition-duration: 0.01ms !important; 
			scroll-behavior: auto !important;
			transition: none; 
		}
	}
</style>
