<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Feliz Año Nuevo</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: 'Saint George';
		src: url('/fonts/SaintGeorgeLowercaseStencil.woff2') format('woff2');

		font-weight: 400;
		font-style: normal; 
		font-display: block;
	}

	:root {
		color-scheme: light light;
		
		/*Colors*/
		--bg: #0a0a0a;
		--text: #ffffff;
		--gold: #FFD700;
		--gold-alt: #FFA500;

		/*Fonts*/
		--primary-font: 'Saint George', sans-serif;
		--secondary-font: 'DM Sans Variable', sans-serif;

		/* font-synthesis: none;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale; */
	}

	* { margin: 0; padding: 0; }
	*, *::before, *::after { box-sizing: border-box; }
	html { font-size: 16px; scroll-behavior: smooth; scrollbar-width: thin; scrollbar-color: var(--green) var(--beige);}
	body {
		font-family: var(--secondary-font);
		min-height: 100vh;
		max-width: 1920px;
		margin: 0 auto;
	}

	input, button, textarea, select { font: inherit; }
	p { text-wrap: pretty; overflow-wrap: break-word; }
	h1, h2, h3, h4, h5, h6 { text-wrap: balance; overflow-wrap: break-word;}
	h1{ font-family: var(--secondary-font); font-size: 3.2rem; }
	img, video, svg { max-width: 100%; height: auto; }
	a { text-decoration: none; color: inherit; }
	ul, ol { list-style: none; }
	*::selection {
        background-color: var(--gold);
        color: var(--bg);
    }

	@media (prefers-color-scheme: light) {
		:root {
			/*Colors*/
			--bg: #ffffff;
			--text: #0a0a0a;
			--gold: #DAA520;
			--gold-alt: #FF8C00;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		* { 
			animation-duration: 0.01ms !important; 
			animation-iteration-count: 1 !important; 
			transition-duration: 0.01ms !important; 
			scroll-behavior: auto !important;
			transition: none; 
		}
	}
</style>
